body {
  background: #204B6B;
  color: #FFFFFF;
  font-size: 20px;
  margin: 0;
}
.container {
  width: 600px;
  margin: 0 auto;
}
#temp {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #FFF;
  line-height: 100px;
  text-align: center;
}
button {
  border-radius: 10px;
}
#buttons button:first-child {
  margin: 10px 39px 0 0;
}
#temp, #buttons {
  margin: 0 auto;
}
#buttons {
  width: 100px;
}
.terminal-logs {
  width: 600px;
  margin: 0 auto;
  font-family: FreeMono, monospace;
  color: #aaa;
  background-color: #000;
  font-size: 14px;
  line-height: 18px;
}
#logs {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#logs ul {
  overflow: auto;
  height: 200px;
  list-style: none;
  padding: 0px;
}
#logs-list :last-child {
  background-color: #A4E4A0;
  color: black;
}
#logs-list li:before {
  content: '>';
  margin: 0 1em;
}
